#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  border-radius: 8px;
  margin-bottom: 2rem;
}

@media (prefers-color-scheme: light) {
  .App-header {
    background-color: #f3f4f6;
    color: #213547;
  }
}